{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">


<head>
    {% block title %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Uren - Car Accessories Shop HTML Template</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <!-- CSS
        ============================================ -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static '/css/vendor/font-awesome.css' %}">
        <!-- Fontawesome Star -->
        <link rel="stylesheet" href="{% static '/css/vendor/fontawesome-stars.css' %}">
        <!-- Ion Icon -->
        <link rel="stylesheet" href="{% static '/css/vendor/ion-fonts.css' %}">
        <!-- Slick CSS -->
        <link rel="stylesheet" href="{% static '/css/plugins/slick.css' %}">
        <!-- Animation -->
        <link rel="stylesheet" href="{% static '/css/plugins/animate.css' %}">
        <!-- jQuery Ui -->
        <link rel="stylesheet" href="{% static '/css/plugins/jquery-ui.min.css' %}">
        <!-- Lightgallery -->
        <link rel="stylesheet" href="{% static '/css/plugins/lightgallery.min.css' %}">
        <!-- Nice Select -->
        <link rel="stylesheet" href="{% static '/css/plugins/nice-select.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">

    {% endblock %}
</head>
<body>
<header>
    {% include 'store/inc/header.html' %}
</header>
<main>
    {% block content %}

    {% endblock content %}
</main>
<footer>
    {% include 'store/inc/Footer.html' %}
</footer>

<!-- JS
============================================ -->
{% block js %}
    <!-- jQuery JS -->
    <script src="{% static '/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '/js/vendor/jquery-ui.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static '/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static '/js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/js/vendor/bootstrap.min.js' %}"></script>
    <!-- Slick Slider JS -->
    <script src="{% static '/js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static '/js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static '/js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static '/js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static '/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static '/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static '/js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static '/js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static '/js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static '/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static '/js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static '/js/plugins/jquery.zoom.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
    <!-- Search -->
    <script>
        $( function() {
            var availableTags = [];
            $.ajax({
                method: "GET",
                url: "/product-list",
                success:function (response) {
                    startAutocomplete(response);
                }
            });
            function startAutocomplete(availableTags){
                $( "#search" ).autocomplete({
                    source: availableTags
                });
            }
        });
    </script>
{% endblock %}
</body>

</html>