{% extends 'store/layouts/main.html' %}
{% load static %}


{% block content %}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'loginpage' %}">login</a></li>

            </ul>
        </div>
    </div>
</div>

<!-- Login Register -->
    <div class="uren-login-register_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                    <!-- Login Forms-->
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label >Email Address*</label>
                                    <input type="username" class="form-control" name="username" placeholder="Username">
                                </div>
                                <div class="col-12 mb--20">
                                    <label >Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="col-md-12">
                                    <button type='submit' class="uren-login_btn">Login</button>
                                </div>
                                <div class="col-md-4">
                                    <div class="forgotton-password_info">
                                        <a href="{% url 'register' %}"> register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


