{% extends 'store/layouts/main.html' %}
{% load static %}


{% block content %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Other</h2>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Login Page-->
    <div class="uren-login-register_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-6 ">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div class="col-md-6 col-8 mb-20">
                                    <label >First Name</label>
                                    <label for="">{{ form.first_name }}</label>
                                </div>
                                <div class="col-md-6 col-8 mb-20  ">
                                    <label>Last Name</label>
                                    <label for="">{{ form.last_name }}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>User Name</label>
                                    <label for="" >{{ form.username }}</label>
                                    {% if form.username %}
                                        <label class="text-danger">{{ form.errors.username }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    <label>Email Address*</label>
                                    <label for="">{{ form.email }}</label>
                                    {% if form.email %}
                                        <label class="text-danger">{{ form.errors.email }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <label for="">{{ form.password1 }}</label>
                                    {% if form.password1 %}
                                        <label class="text-danger">{{ form.errors.password1 }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <label for="">{{ form.password2 }}</label>
                                    {% if form.password2 %}
                                        <label class="text-danger">{{ form.errors.password2 }}</label>
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="uren-register_btn">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


